 $menu-height: 90px;
 
 .menu {
 	display: inline-block;
 	height: $menu-height;
 	line-height: $menu-height;
 	vertical-align: middle;
 	color: #fff;
 	@include user-select(none);
 }

 .menubuttons {
	margin: 0;
	padding: 0;
	list-style: none;
	@include clearfix;
}

.menubutton {
	float: left;
	display: inline-block;
	padding: 0;

	&:not(:last-child) {
		margin-right: 18px;
	}

	a {
		color: #fff;
		border: 1px solid #fff;
		padding: 10px;
		text-decoration: none;
		@include transition-property(color, border-color, background-color);
		@include transition-duration(0.21s);

		&:hover {
			background-color: #0099ff;
			border-color: transparent;
		}
	}

	&.is-active {
		a {
			background-color: #0099ff;
			border-color: transparent;
			pointer-events: none;
			cursor: default;
		}
	}

	&.is-disabled {
		opacity: 0.6;
		pointer-events: none;
		cursor: default;
	}
}

.menu-lang {
	display: inline-block;
	float: right;
	@include clearfix;

	.menubuttons {
		padding: 0;
	}

	.menubutton {
		margin: 0;
		padding: 0;

		&:not(:last-child) {
			margin-right: 6px;
		}
	}
}