<nav class="menu menu-lang">
	<ul class="menubuttons">
		
		{% if page.lang == "en" %}
			{% assign button_class = "is-disabled" %}
		{% else %}
			{% assign button_class = "" %}
		{% endif %}
		<li class="menubutton {{button_class}}">
			{% assign site_url = page.url | replace: "/hu", "../en" %}
			<a href="{{site_url}}">EN</a>
		</li>

		{% if page.lang == "hu" %}
			{% assign button_class = "is-disabled" %}
		{% else %}
			{% assign button_class = "" %}
		{% endif %}
		<li class="menubutton {{button_class}}">
			{% assign site_url = page.url | replace: "/en", "../hu" %}
			<a href="{{site_url}}" target="_self">HU</a>
		</li>
	</ul>
</nav>