<nav class="menu">
	<ul class="menubuttons">
			{% if page.url == "/index.html" %}
			{% assign link_class = "menubutton is-active" %}
			{% else %}
			{% assign link_class = "menubutton" %}
			{% endif %}
			<li class="{{link_class}}">
				<a href="index.html">{% t menu.home %}</a>
			</li>

			{% if page.url == "/about.html" %}
			{% assign link_class = "menubutton is-active" %}
			{% else %}
			{% assign link_class = "menubutton" %}
			{% endif %}
			<li class="{{link_class}}">
				<a href="about.html">{% t menu.about %}</a>
			</li>

			{% if page.url == "/contact.html" %}
			{% assign link_class = "menubutton is-active" %}
			{% else %}
			{% assign link_class = "menubutton" %}
			{% endif %}
			<li class="{{link_class}}">
				<a href="contact.html">{% t menu.contact %}</a>
			</li>
	</ul>
</nav>